#main_title {
  color: white;
  font-family: "Arial", serif;
  font-weight: bold;
  font-size: 350%;
  text-align: center;

background-color: rgba(30, 20, 150, 0.6);

  margin: auto;
  width: 800px;
  padding: 20px 0;
  border-radius: 50px;
}

button {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#button {
  position: relative;
  left: 50px;
  top: 50px;
  width: 200px;

}

#thebutton {
  color: white;
}



#thebuttontwo {
  font-size: 25px;
  margin-top: 5px;
  color: white;
  padding: 3px;
  padding-top: 6px;
  width: 160px;
  background-color:  rgba(100, 50, 140, 0.9);
  border-radius: 5px;

}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 60%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    position: relative;
    left: 44%;
    top: 300px;
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  position: relative;
}

#vidtable {
  opacity = 1;
  margin-left: 20px;
  float: right;

}

#speechtable {
  opacity = 1;
  margin-right: 20px:
  float: left;

}
